:root {
    --lightmode-background: #555555;
}
body {
    padding: 0;
    margin: 0;
}
/* header */
.app-header {
    background-color: #850000;
    display: flex;
    justify-content: center;
}
/* article cards */
.article-card {
    background-color: var(--lightmode-background);
    border-radius: 1rem;
}
.article-card h2 {
    font-size: 1rem;
}
.card-body {
    position: relative;
}
.article-card img {
    max-height: 40%;
    position: absolute;
    top: 4rem;
    right: 1rem;
    border-radius: 0.3rem;
}
.card-text {
        padding-left: 1rem;
        padding-right: 1rem;
}
.card-title {
    padding-top: 0.5rem;
}
.card-article-details {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.card-comments-votes {
    display: inline-flex;
}
.card-comments-votes p {
    margin-right: 1rem;
}
.article-date {
    position: relative;
}
/* article */
.article-container {
    background-color: var(--lightmode-background);
    border-radius: 1rem;
    margin: 0.5rem;
}
.article-image {
    max-width: 100%;
    border-radius: 0.5rem;
}
.article-header-container {
    display: flex;
    justify-content: space-between;
}
.article-container article {
    padding: 0.5rem;
}
.article-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* comment cards */
.comment-card {
    background-color: var(--lightmode-background);
    border-radius: 1rem;
    margin: 0.5rem;
}
.comment-content {
    padding: 0.5rem;
}
.comment-header {
    display: flex;
    justify-content: space-between;
}