:root {
    --lightmode-background: #555555;
}
body {
    padding: 0;
    margin: 0;
}
/* header */
.app-header {
    background-color: #850000;
    display: flex;
    justify-content: center;
    height: 10vh;
}
.menu-button {
    position: absolute;
    right: 0;
    top: 0.8rem;
}
/* menu */
.menu {
    position: absolute;
    min-height: 90vh;
    width: 65vw;
    background-color: #c4c4c4;
    color: #1f1f1f;
    right: 0;
    z-index: 10;
}
.menu h3 {
    padding-left: 0.5rem;
}
.menu ul {
    padding-left: 0.5rem;
    margin: 0;
    list-style-type: none;
}
.menu-item {
    font-weight: 400;
    cursor: pointer;
}
.menu-item:hover, .menu-home-button:hover {
    color: #af0303;
    text-decoration: underline;
}
/* article cards */
.article-card {
    background-color: var(--lightmode-background);
    border-radius: 1rem;
    margin: 0.5rem;
}
.article-card h2 {
    font-size: 1rem;
}
.card-body {
    position: relative;
}
.article-card img {
    max-height: 40%;
    position: absolute;
    top: 4rem;
    right: 1rem;
    border-radius: 0.3rem;
}
.card-text {
        padding-left: 1rem;
        padding-right: 1rem;
}
.card-title {
    padding-top: 0.5rem;
}
.card-article-details {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.card-comments-votes {
    display: inline-flex;
}
.card-comments-votes p {
    margin-right: 1rem;
}
.article-date {
    position: relative;
}
/* article */
.article-container {
    background-color: var(--lightmode-background);
    border-radius: 1rem;
    margin: 0.5rem;
}
.article-image {
    max-width: 100%;
    border-radius: 0.5rem;
}
.article-header-container {
    display: flex;
    justify-content: space-between;
}
.article-container article {
    padding: 0.5rem;
}
.article-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* comment cards */
.comment-card {
    background-color: var(--lightmode-background);
    border-radius: 1rem;
    margin: 0.5rem;
}
.comment-content {
    padding: 0.5rem;
}
.comment-header {
    display: flex;
    justify-content: space-between;
}
/* new comment */
.new-comment-container {
    background-color: var(--lightmode-background);
    border-radius: 1rem;
    margin: 0.5rem;
}
.comment-form {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.comment-form-button-container {
    display: flex;
    justify-content: right;
}
